
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/animation.css">
    <link rel="stylesheet" type="text/css" href="~/css/fonts/fonts.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>BloodNET</title>
    @RenderSection("css",required:false)
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid" style="background:transparent;">
                <!-- <img class="col-4 col-sm-3 col-md-2 col-xl-1 " src="./img/bloodnet.png"  alt="BloodNET"> -->
                <a class="navbar-brand me-auto" href="@Url.Action("Index","Home")" style=" font-weight: 600; letter-spacing: -0.5px;">BloodNET</a>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                     aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h2 class="offcanvas-title" id="offcanvasNavbarLabel">BloodNET</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link mx-lg-2" aria-current="page" href="@Url.Action("Index","Home")">Home</a>
                            </li>


                            <li class="nav-item mx-lg-2">
                                <a class="nav-link" href="@Url.Action("Realtime","Home")">Donate</a>
                            </li>


                            <li class="nav-item mx-lg-2">
                                <a class="nav-link" href="@Url.Action("SubmitRequest","Request")">Find</a>
                            </li>

                            <li class="nav-item mx-lg-2">
                                <a class="nav-link" href="@Url.Action("About","Home")">About</a>
                            </li>

                            <li class="nav-item mx-lg-2">
                                <a class="nav-link" href="@Url.Action("Contact","Home")">Contact</a>
                            </li>

                            <!-- <li class="nav-item mx-lg-2">
                                <a class="nav-link" href="#">About</a>
                            </li> -->
                            <!-- <li class="nav-item">
                                <a class="nav-link mx-lg-2" href="contact.html">Contact</a>
                            </li> -->
                        </ul>
                    </div>
                </div>
                <a asp-area="Identity" asp-page="/Account/Login" class="btn-design-fill">Login</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                
            </div>
        </nav>
        
    </header>

        <main role="main">
            @RenderBody()
        </main>


    <footer class=" bg-light">
        <div class="top-bar my-5">
            <div class="container-fluid text-white me-5">
                <div class="row pt-3 px-5">
                    <div class="col-md-7 text-lg-start text-md-start text-center pt-1">
                        <span>Get connected with us on social networks:</span>
                    </div>
                    <div class="col-md-5 d-flex justify-content-md-end justify-content-center">
                        <div class="socials">
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google"></i></a>
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                            <a href=""><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-section">
            <div class="container-fluid px-5">
                <div class="row text-md-start text-center px-3">
                    <div class="col-lg-4 col-md-6 col-sm-12 pb-3">
                        <div class="d-flex flex-column">
                            <div class="col">
                                <h2>BloodNET</h2>
                            </div>
                            <div class="col">
                                <h3>Donate Blood, Save Lives</h3>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="d-flex flex-md-column align-items-center text-center">
                            <div class="col">
                                <h2>Home</h2>
                            </div>
                            <div class="col me-2">
                                <h3>Donate Blood</h3>
                            </div>
                            <div class="col">
                                <h3>Find Donors</h3>
                            </div>


                        </div>
                    </div> -->

                    <div class="col-lg-4 col-md-6 col-sm-12 pb-3">
                        <div class="col ">
                            <h2>Links</h2>
                        </div>
                        <div class="d-flex flex-lg-column align-items-md-start align-items-center text-center text-md-start">
                            <div class="col">
                                <a href="">
                                    <h3>Privacy</h3>
                                </a>
                            </div>
                            <div class="col">
                                <a href="">
                                    <h3>Terms</h3>
                                </a>

                            </div>
                            <div class="col">
                                <a href="">
                                    <h3>Disclaimer</h3>
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 pb-3">
                        <div class="col">
                            <h2>Contact</h2>
                        </div>
                        <div class="d-flex flex-column align-items-md-start align-items-center text-center text-md-start">
                            <div class="col-md-12 d-inline-flex">
                                <h3><i class="fa fa-phone me-2"></i></h3>
                                <a href="tel:+923226291630">
                                    <h3>(+92) 322-6291630</h3>
                                </a>
                            </div>
                            <div class="col-md-12 d-inline-flex">
                                <h3><i class="fa fa-home me-2"></i></h3>
                                <a href="https://maps.app.goo.gl/5E5qdScQ3f3cntMDA">
                                    <h3>Lahore, Pakistan</h3>
                                </a>
                            </div>
                            <div class="col-md-12 d-inline-flex">
                                <h3><i class="fa fa-envelope me-2"></i></h3>
                                <a href="mailto:amaliccck@gmail.com">
                                    <h3>amaliccck@gmail.com</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="~/js/js/bootstrap.min.js"
            integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
            crossorigin="anonymous"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/js/app.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @RenderSection("myjs", required: false)
</body>

</html>