@using BloodNET_Web.Models
@inject SignInManager<MyUsers> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<style>
    .nav-pills {
        --bs-nav-pills-link-active-bg: var(--clr-red);
    }
    .sidebar .nav-link:hover {
        background-color: var(--clr-red);
  
        color:white !important;
    }

    .sidebar .nav-link::before{
        background-color:transparent;
    }

    .nav-link{
        color:black;
    }

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        color: white !important;
    }
    
</style>
<section class="sidebar nav-sidebar">
<ul class="nav nav-pills flex-column gap-1">
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">
                <i class="fa fa-user me-2"></i> Profile
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">
                <i class="fa fa-envelope me-2"></i> Email
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">
                <i class="fa fa-lock me-2"></i> Password
            </a>
        </li>
        @if (hasExternalLogins)
        {
            <li id="external-logins" class="nav-item">
                <a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">
                    <i class="fa fa-plug me-2"></i> External logins
                </a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">
                <i class="fa fa-shield me-2"></i> Two-factor authentication
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">
                <i class="fa fa-user-secret me-2"></i> Personal data
            </a>
        </li>

</ul>
</section>