@using System.Security.Claims
@model BloodDonors

<section class="submitted-information mt-4">
    <div class="container">
        <h2>Profile Information</h2>
        <hr>

        @if (!ViewBag.CompleteProfile)
        {
            <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                <img src="/img/svg/complete-profile.svg" alt="Complete Profile Icon" style="width: 200px; height: 200px; margin-bottom: 20px;" />
                <h3>Incomplete Profile</h3>
                <h5>To ensure a seamless donation experience, please complete your profile</h5>

                <p style="margin-top: 20px;">
                    <a href="@Url.Action("AddDonor","Donor")" style="text-decoration: none;font-size: 1.2em;" class="link-clr">Complete Your Profile Now</a>
                </p>
            </div>
        }
        else
        {

        
        <div class="row justify-content-around">
            <div class="row justify-content-around">
                <div class="col-sm-6 col-4 d-flex flex-column align-items-center">
                    <form method="post" enctype="multipart/form-data">
                        <div style="position: relative; display: inline-block;">
                            <img id="previewImage" src="@(Model.ImgUrl ?? "img/avatar.jpg")" alt="Alternate Text" width="200" height="200" class="rounded-circle shadow-4 mt-3 mb-3" style="object-fit:cover;" />
                            <input type="file" name="imageFile" id="imageFile" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; cursor: pointer;" onchange="previewFile()">
                        </div>
                    </form>
                </div>
            </div>

            <div class="row">
                    <div class="col-sm-4 ">
                        <h4>Name:</h4>
                        <p id="submitted-name">
                        @MyUsers.GetNameandEmail(User.FindFirst(ClaimTypes.NameIdentifier)?.Value).name
                        </p>
                    </div>
                <div class="col-sm-4 col-12">
                    <h4>Blood Group:</h4>
                    <p id="submitted-blood-group">@Model.BloodGroup</p>
                </div>
            </div>
            <div class="row ">
                <div class="col">
                    <h4>Phone:</h4>
                    <p id="submitted-phone">@Model.PhoneNumber</p>
                </div>
                <div class="col">
                    <h4>Email:</h4>
                    <p id="submitted-email"> @MyUsers.GetNameandEmail(User.FindFirst(ClaimTypes.NameIdentifier)?.Value).email</p>
                </div>
            </div>

                <div class="row ">
                    <div class="col">
                        <h4>Gender:</h4>
                        <p id="submitted-gender">@Model.Gender</p>
                    </div>
                    <div class="col">
                        <h4>Weight:</h4>
                        <p id="submitted-weight">@Model.Weight @Model.WeightUnit </p>
                    </div>
                    <div class="col-12 col-md-4">
                    <h4>Date of Birth:</h4>
                    <p id="submitted-dob">@DateOnly.FromDateTime(Model.DOB)</p>

                    </div>
                </div>

     

            <div class="row  justify-content-around">
                    <div class="col">
                        <h4>Country:</h4>
                        <p id="submitted-country">@Model.Country</p>
                    </div>
                    <div class="col">
                        <h4>City:</h4>
                        <p id="submitted-city">@Model.City</p>
                    </div>
                    <div class="col-12 col-md-4">
                        <h4>Address:</h4>
                        <p id="submitted-address">@Model.Address</p>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Medical History:</h4>
                        <p id="submitted-medical-history" style="text-align:justify;">
                           @Model.MedicalHistory
                        </p>
                    </div>
                </div>
                <div class=" offset-md-9 offset-7 col-md-3 col-5 mt-2 mb-3">
                    <a asp-area="Identity" asp-page="/Account/Manage/Index">
                        <button id="myButton" class="btn btn-outline-danger">Manage Your Account</button>
                    </a>
                </div>

        </div>
        }
    </div>
</section>

@if (ViewBag.CompleteProfile)
{

    @if (ViewBag.donorStatus == false)
    {
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: auto; " class="border-top border-bottom py-3">
            <img src="/img/svg/not-found.svg" alt="No Donations Icon" style="width: 100px; height: 100px; margin-bottom: 20px;" />
            <h2 style="margin-top: 0;">No Donations</h2>
            <h5>You have not yet made any donations. Your donations matter a lot.</h5>

            <a href="@Url.Action("Realtime","Home")" style="text-decoration: none; font-size:16px;" class="link-clr">Donate Now!</a>
        </div>
    }

    else
    {
        <section class="profile-information">
            <div class="container">
                <div class="row">
                    <h2>Donation History</h2>
                    <hr>
                    <div class="col gap-2">
                        <div class="border p-3 rounded">
                            <h3>Blood Donations</h3>
                            <h4 style="color: #eb0202;">3</h4>
                        </div>
                    </div>
                    <div class="col">
                        <div class="border p-3 rounded">
                            <h3>Last Donation Date</h3>
                            <h4 style="color: #eb0202;">12-12-2021</h4>
                        </div>
                    </div>
                    <div class="col">
                        <div class="border p-3 rounded">
                            <h3>Last Donation Place</h3>
                            <h4 style="color: #eb0202;">Doctors Hospital</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
}
@section myjs{

    <script>
        function previewFile() {
            var preview = document.getElementById('previewImage');
            var file = document.getElementById('imageFile').files[0];
            var reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
            }

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "img/avatar.jpg";
            }
        }
    </script>
}

@section css{
    <style>
        h4{
            font-weight:900;
        }
    </style>
}